/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  text-align: center;
  margin: 4rem 0;
  background-color: blanchedalmond;
}
img {
  display: block;
  margin: 0 auto;
  max-height: 40vh;
}
section {
  text-align: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#allergens {
  color: red;
  font-size: 3rem;
}
